// ---------
// Mixins
// ---------

// CSS3
// -------

@mixin border-box { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}


// Media Queries
// ----------------

// Large Desktop
@mixin large-desktop {
  @media only screen and (min-width: 75em) {
    @content;
  }
}

// Desktop
@mixin desktop {
  @media only screen and (max-width: 64em) {
    @content;
  }
}

// Tablet
@mixin tablet {
  @media only screen and (min-width: 48em) and (max-width: 50em) {
    @content;
  }
}

// Small Tablet Portrait
@mixin small-tablet-portrait {
  @media only screen and (max-width: 37.5em) {
    @content;
  }
}

// Mobile Landscape
@mixin mobile-landscape {
  @media only screen and (max-width: 30em) {
    @content;
  }
}

// Mobile Portrait
@mixin mobile-portrait {
  @media only screen and (max-width: 20em) {
    @content;
  }
}




